/* ==========================================================================
   #ICON
   ========================================================================== */










.c-icon {
  font-size: 3rem;
  background-image: linear-gradient(to bottom right, rgba($color-primary-light, .8), rgba($color-primary-dark, .8));
  background-clip: text;
  color: transparent;
}   