/* ==========================================================================
   #PAGE-HEAD
   ========================================================================== */










.c-page-head {
  padding-top: $global-spacing-unit;
  padding-bottom: $global-spacing-unit;
  background-color: $color-primary;
}










/* Masthead variant
   ========================================================================== */










.c-page-head--masthead {
   height: 95vh;
   background-image: linear-gradient(to bottom right, rgba($color-primary-light, .8), rgba($color-primary-dark, .8)),
                     url('../img/hero-small.jpg');
   background-position: top center;
   clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
   


   @media(-webkit-min-device-pixel-ratio: 2.0), (min-resolution: 120dpi) {
      background-image: linear-gradient(to bottom right, rgba($color-primary-light, .8), rgba($color-primary-dark, .8)),
      url('../img/hero.jpg');
   }
}