/* ==========================================================================
   #HEADING TERTIARY
   ========================================================================== */










.c-heading-tertiary {
  font-size: $font-size-h5;
  font-weight: 400;
  color: darken($text-color, $amount: 15%);
}
