/* ==========================================================================
   #COLORS
   ========================================================================== */










/*  
*  Set up a colour palette which allows us to theme the entire project from one location.
*/


$white:                 #fff !default;
$gray-100:              #f7f7f7 !default;
$gray-200:              #777  !default;
$gray-300:              #333 !default;
$black:                 #000 !default;


// Theme palette.
$blue:                  #007bff !default;
$indigo:                #6610f2 !default;
$purple:                #6f42c1 !default;
$pink:                  #e83e8c !default;
$red:                   #dc3545 !default;
$orange:                #fd7e14 !default;
$yellow:                #ffc107 !default;
$green:                 #28a745 !default;
$teal:                  #20c997 !default;
$cyan:                  #17a2b8 !default;








             








/* Reassign literal variables to meaningful ones.
   ========================================================================== */










$color-primary:                     #55c57a !default;
$color-primary-highlight:           lighten($color-primary, 5%) !default;
$color-primary-shadow:              darken($color-primary,  5%) !default;

$color-primary-light:               #7ed56f !default;
$color-primary-light-highlight:     lighten($color-primary, 5%) !default;
$color-primary-lightshadow:         darken($color-primary,  5%) !default;

$color-primary-dark:                #28b485 !default;
$color-primary-dark-highlight:      lighten($color-primary, 5%) !default;
$color-primary-dark-shadow:         darken($color-primary,  5%) !default;





$color-secondary:                   #ffb900  !default;
$color-secondary-highlight:         lighten($color-secondary, 5%) !default;
$color-secondary-shadow:            darken($color-secondary,  5%) !default;

$color-secondary-dark:              #ff7730  !default;
$color-secondary-dark-highlight:    lighten($color-secondary, 5%) !default;
$color-secondary-dark-shadow:       darken($color-secondary,  5%) !default;





$color-tertiary:                    #2998ff  !default;
$color-tertiary-highlight:          lighten($color-tertiary, 5%) !default;
$color-tertiary-shadow:             darken($color-tertiary,  5%) !default;

$color-tertiary-dark:               #5643fa  !default;
$color-tertiary-dark-highlight:     lighten($color-tertiary, 5%) !default;
$color-tertiary-dark-shadow:        darken($color-tertiary,  5%) !default;





$color-success:                     $green !default;
$color-success-highlight:           lighten($color-success, 5%) !default;
$color-success-shadow:              darken($color-success,  5%) !default;

$color-error:                       $red !default;
$color-error-highlight:             lighten($color-error, 5%) !default;
$color-error-shadow:                darken($color-error,  5%) !default;




$text-color:                        $gray-200;




